.popup {
	display: none;
	position: absolute;
	height: 300px;
	width: 300px;
	left: -moz-calc(50% - 150px);
	left: -webkit-calc(50% - 150px);
	left: calc(50% - 150px);
	top: -moz-calc(50% - 150px);
	top: -webkit-calc(50% - 150px);
	top: calc(50% - 150px);
	background-color: #000000;
	color: #FFFFFF;
}