<!doctype html>
<html>

<head>
    
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="lib/bootstrap.css"/>
    <script type="text/javascript" src="lib/require.js"></script>
    <script type="text/javascript">
    	require(["lib/jquery.min", "lib/angular.min","js/b1.js"], function(jquery, angular, b1) {
    		console.log(jquery, angular, b1);
    	});
    </script>

</head>
<body ng-app='baldur'>
	<div class='container' ng-controller='BodyCtrl'>
		<div class='row'>
			<h3>Enter Your Message</h3>
		</div>
		<div class='row'>
			<span>Characters Remaining: {{remaining()}}<span>
		</div>
		<div class='row'>
			<textarea ng-model='message.body' style='width: 40%;'>{{message.body}}</textarea>
		</div>
		<div class='row'>
			<button class='btn btn-primary' ng-click='send()'>Send</button>
			<button class='btn btn-default' ng-click='clear()'>Clear</button>
		</div>
	</div>
</body>
</html>


