
<div ng-show='registered' ng-controller='ChatController'>
  <h2>Welcome {{user.fname}}!</h2>
  <h3>{{user.fname}} {{user.lname}} :{{user.room}}</h3>
  <div class="row">
    <div class='col-xs-8'>
      <input type="text" class="form-control" id="message" ng-model="message" placeholder="Enter message">
      <button style='margin: 4px 0px' class="btn" ng-click="sendMessage()">Send</button>
    </div>
  </div>
  <div class='row' ng-show='teacher'>

    <ul class='small col-xs-8' id='messageList' ng-cloak>
      <li ng-repeat="msg in messages track by $index" ng-class="getClass($even)" ng-bind="msg"></li>
    </ul>
      <!--Student Connection Status-->
      <div class='col-xs-4'>
        <div class='student' ng-repeat="student in students track by $index">
          <span class='student-name'>{{student.firstName}} {{student.lastName}}</span>
          <span class='student-connected' ng-class='studentConnected(student)'></span>
        </div>
      </div>

  </div>
</div>
