#messageList li {
	list-style-type: none;
    padding: 10px;
    margin: 0px;
}

.dgreym {
	background-color: #999;
}

.lgreym {
	background-color: #eee;
}

.small {
	height: 260px;
	max-height: 260px;
	overflow-y: auto;
}

.circle-black {
	background-color: rgba(0, 0, 0, .85);
	border: 2px solid rgb(155, 155, 155);
	border-radius: 100%;
	width: 22px;
	height: 22px;
}

.circle-green {
	background-color: rgba(0, 255, 0, .85);
	border: 2px solid rgb(155, 155, 155);
	border-radius: 100%;
	width: 22px;
	height: 22px;
}

.student {
	position: relative;
	border-bottom: 1px solid rgba(100,100,100,0.5);
	width: 200px;
	height: 35px;
	float: right;
	margin: 0px 0px;
}

.student-name {
	position: absolute;
	display: inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	left: 5px;
}

.student-connected {
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
	right: 5px;
	top: 5px;
}