$PKGLINE
import kareltherobot.*;
/**
* @author :
* date:
*/
public class $CLASSNAME extends UrRobot
{
	public $CLASSNAME(int street, int avenue,
	Direction direction, int beepers)
	{
		super(street, avenue, direction, beepers);
	}
}